<appSettings>
  <add key="URL" value="https://www.domain.com.au/" />
  <add key="newHomeTitle" value="New Homes | Home &amp; Land Packages | Off the Plan Apartments"/>
  <add key="soldTabTitle" value="Sold Houses, Apartments, Units, Flats and New Developments | Real Estate | Domain"/>
  <add key="commercialTabTitle" value="Commercial Real Estate and Property For Sale and Lease in Australia | CommercialRealEstate.com.au"/>
  <add key="commercialTabLabel" value="Australia's leading commercial property site"/>
  <add key="AgentTabTitle" value="Search for real estate agents to sell your property in Australia"/>
  <add key="NewsTabTitle" value="Real Estate and Property Market News"/>
  <add key="LatestTabTitle" value="Latest Property and Real Estate News"/>




</appSettings>